controller:
  kind: Deployment
  replicaCount: 1

  affinity: {}

  nodeSelector:
    role: edge
    kubernetes.io/arch: "arm64"
    kubernetes.io/os: "linux"

  ingressClassResource:
    enabled: true
    name: nginx
    default: true

  tolerations:
    - key: "node-role.kubernetes.io/master"
      operator: "Exists"
      effect: "NoSchedule"
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

  service:
    type: NodePort
    externalTrafficPolicy: Local
    nodePorts:
      http: 32080
      https: 32443

admissionWebhooks:
  enabled: true
