# Service for gophergate-wg-agent
apiVersion: v1
kind: Service
metadata:
  name: gophergate-wg-agent
  labels:
    app: gophergate-wg-agent
spec:
  ports:
    - port: 7443
      targetPort: 7443
      name: grpc
  selector:
    app: gophergate-wg-agent
  clusterIP: None

---
# Service for gophergate-ui
apiVersion: v1
kind: Service
metadata:
  name: {{ include "gophergate.fullname" . }}-ui
  labels:
    app: gophergate-ui
spec:
  type: ClusterIP
  selector:
    app: gophergate-ui
  ports:
    - name: http
      port: {{ .Values.ui.service.port }}
      targetPort: {{ .Values.ui.service.targetPort }}

---
# Service for Postgresql
apiVersion: v1
kind: Service
metadata:
  name: gophergate-postgresql
  labels:
    app: gophergate-postgresql
spec:
  ports:
    - port: 5432
      targetPort: 5432
      name: db
  selector:
    app: gophergate-postgresql
  # clusterIP: None
