apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: flux-system

resources:
  - namespace.yaml
  - helmrelease.yaml

configMapGenerator:
  - name: cyro-ddns-values
    files:
      - values.yaml=values.yaml

generatorOptions:
  disableNameSuffixHash: true
