apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomisation
metadata:
  name: infra
  namespace: flux-system
spec:
  interval: 5m
  path: ./clusters/home/infra
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  timeout: 10m
